<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="insta_post_form">
        <%= render 'shared/insta_post_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
      <% provide(:title,"Home") %>


    <h2>
      This is the home page for the
      Instagram-clone
    </h2>

    @insta_post = current_user.insta_posts.build if logged_in?
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("insta-icon.png", alt: "insta-icon" ,:size =>'100x100'),
              'https://ja.wikipedia.org/wiki/Instagram'  %>
<% end %>

