<%= form_for(@insta_post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
  </span>
  <div class="field">
    <%= f.text_area :content, placeholder: "コメント" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('最大ファイルサイズは5MBです。ファイルを選択し直してください.');
    }
  });
</script>